.search{
  width:                100%;
  padding:              20px;
  background-color:     $white;

  .form-alert{
    font-size:          12px;
    margin:             5px 0 0 0;
    color:              $red;
  }
}