.search{
  width:                100%;
  margin:               50px 0 0 0;
  padding:              20px;
  background-color:     $white;

  .search-input{
    overflow:           hidden;
    font-size:          1rem;
    font-weight:        400;
    line-height:        1.5;
    color:              #495057;
    resize:             none;
    height:             38px;
    outline:            none;
  }

  .form-alert{
    font-size:          12px;
    margin:             5px 0 0 0;
    color:              $red;
  }
}