// Colors
$background-color:  #2a3034;
$defeat-border:     #f7bac0;
$defeat-background: #f9d2d6;
$defeat-text:       #4f0404;
$win-border:        #86d297;
$win-background:    #c8e5ce;
$win-text:          #00340b;